# Practice 8 - k-Means and Hierarchical Clustering

We will work again on the iris data set. The data have labels here, but we will check if unsupervised learning can make good guesses.

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sklearn

In [2]:
dataset = pd.read_csv('iris.csv')

*This small dataset from 1936 is often used for testing out machine learning algorithms and visualizations. Each row of the table represents an iris flower, including its species and dimensions of its botanical parts, sepal and petal, in centimeters.*

In [3]:
dataset.sample(n=5)

     sepal_length  sepal_width  petal_length  petal_width     species
33            5.5          4.2           1.4          0.2      setosa
51            6.4          3.2           4.5          1.5  versicolor
49            5.0          3.3           1.4          0.2      setosa
109           7.2          3.6           6.1          2.5   virginica
103           6.3          2.9           5.6          1.8   virginica

## Your Task

* Plot **sepal width** vs. **sepal length** with colors corresponding to the species
* Train a k-Means model for 3 clusters and plot the results.
* Train a Hierarchical Clustering model for 3 clusters and plot the results. Compare different linkage methods.
* Do again the first three steps now with **petal width** vs. **petal length**
* Visually, which 2D plane seems to be the most convenient for clustering?